<?xml version="1.0" ?>
<robot
  name="rbfiqus_agrimate_base"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bodies/rbfiqus/rbfiqus_agrimate_body.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/wheels/steering_wheel/steering_wheel_rbfiqus_agrimate.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/wheels/steering_wheel/wheel_rbfiqus_agrimate_back.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/simulators/gazebo_ignition/rbfiqus_agrimate/rbfiqus_agrimate_control.urdf.xacro" />

  <!-- WHEELS PROPERTIES -->
  <xacro:property
    name="front_wheel_offset_x"
    value="0.750" />
  <xacro:property
    name="front_wheel_offset_y"
    value="0.9211" />
  <xacro:property
    name="front_wheel_offset_z"
    value="0.15" />
  <xacro:property
    name="back_wheel_offset_x"
    value="-0.822" />
  <xacro:property
    name="back_wheel_offset_y"
    value="0.7779" />
  <xacro:property
    name="back_wheel_offset_z"
    value="0.13619" />

  <xacro:macro
    name="rbfiqus_agrimate"
    params="
      prefix:=robot_
      gazebo_ignition:=false
      namespace:=''
      ">
    <xacro:property
      name="hq"
      value="true" />
    <xacro:rbfiqus_body
      prefix="${prefix}"
      hq="${hq}" />

    <xacro:steering_wheel_rbfiqus_agrimate
      prefix="${prefix}front_right_"
      parent="${prefix}base_link"
      reflect="false"
      hq="${hq}">
      <origin
        xyz="${front_wheel_offset_x} -${front_wheel_offset_y} ${front_wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel_rbfiqus_agrimate>
    <xacro:steering_wheel_rbfiqus_agrimate
      prefix="${prefix}front_left_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}">
      <origin
        xyz="${front_wheel_offset_x} ${front_wheel_offset_y} ${front_wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel_rbfiqus_agrimate>
    <xacro:wheel_rbfiqus_agrimate_back
      prefix="${prefix}back_left_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}"
      left="true">
      <origin
        xyz="${back_wheel_offset_x} ${back_wheel_offset_y} ${back_wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:wheel_rbfiqus_agrimate_back>
    <xacro:wheel_rbfiqus_agrimate_back
      prefix="${prefix}back_right_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}"
      left="false">
      <origin
        xyz="${back_wheel_offset_x} -${back_wheel_offset_y} ${back_wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:wheel_rbfiqus_agrimate_back>
    <xacro:if value="$(arg gazebo_ignition)">
      <xacro:rbfiqus_agrimate_gz_ignition_control
        namespace="${namespace}"
        prefix="${prefix}" />
    </xacro:if>
  </xacro:macro>
</robot>
