<?xml version="1.0" ?>
<robot
  name="rbfiqus_agrimate"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bases/rbfiqus_agrimate/rbfiqus_agrimate_base.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
   <xacro:include
    filename="$(find robotnik_description)/urdf/arms/ur_macro.urdf.xacro" />

  <!-- ARGUMENTS -->
  <xacro:arg
    name="namespace"
    default="robot" />
  <xacro:arg
    name="prefix"
    default="" />
  <xacro:arg
    name="gazebo_ignition"
    default="false" />
  <xacro:arg
    name="ur_type"
    default="ur5e" />


  <!-- RB-FIQUS AGRIMATE -->
  <xacro:rbfiqus_agrimate
    prefix="$(arg prefix)"
    gazebo_ignition="$(arg gazebo_ignition)"
    namespace="$(arg namespace)" />

  <!-- IMU -->
  <xacro:sensor_vectornav
    frame_prefix="$(arg prefix)imu_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.127 -0.729 0.212"
      rpy="0 0 0" />
  </xacro:sensor_vectornav>

  <!-- ARMS -->
  <xacro:arm_ur
    ur_type="$(arg ur_type)"
    frame_prefix="$(arg prefix)arm1_"
    parent="$(arg prefix)chassis_link"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.005 0.7 0.542"
      rpy="0 0 0" />
  </xacro:arm_ur>
  
  <xacro:arm_ur
    ur_type="$(arg ur_type)"
    frame_prefix="$(arg prefix)arm2_"
    parent="$(arg prefix)chassis_link"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.005 -0.7 0.542"
      rpy="0 0 0" />
  </xacro:arm_ur >


    <!-- LASERS -->
  <!--xacro:sensor_robosense_bpearl
    frame_prefix="$(arg prefix)left_lidar_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="left_lidar"
    gazebo_ignition="$(arg gazebo_ignition)"
    max_angle="2.1"
    min_angle="-2.1">
    <origin
      xyz="0.47 0.666 1.1"
      rpy="0 ${2/4*pi} 0" />
  </xacro:sensor_robosense_bpearl>

  <xacro:sensor_robosense_bpearl
    frame_prefix="$(arg prefix)right_lidar"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="right_lidar"
    gazebo_ignition="$(arg gazebo_ignition)"
    max_angle="2.1"
    min_angle="-2.1">
    <origin
      xyz="0.47 -0.666 1.1"
      rpy="0 ${2/4*pi} 0" />
  </xacro:sensor_robosense_bpearl-->

  <xacro:sensor_robosense_bpearl
    frame_prefix="$(arg prefix)top_lidar"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="top_lidar"
    gazebo_ignition="$(arg gazebo_ignition)"
    max_angle="2.1"
    min_angle="-2.1">
    <origin
      xyz="0.47 0 1.7"
      rpy="0 ${2.1/4*pi} 0" />
  </xacro:sensor_robosense_bpearl>

  <xacro:sensor_robosense_bpearl
    frame_prefix="$(arg prefix)back_lidar"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="back_lidar"
    gazebo_ignition="$(arg gazebo_ignition)"
    max_angle="2.1"
    min_angle="-2.1">
    <origin
      xyz="-0.47 0 1.7"
      rpy="${pi} ${-1.52*pi} 0" />
  </xacro:sensor_robosense_bpearl>

  <!-- GPS -->
  <xacro:sensor_ublox_with_mast
    frame_prefix="$(arg prefix)gps_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="gps"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.0 0.0 2.0"
      rpy="0 0 0" />
  </xacro:sensor_ublox_with_mast>

</robot>
